html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #e69100;
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

footer {
  background-color: #e69100;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #000000;
  justify-content: center;
  align-items: center;
}
.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
nav{
  background-color: #e69100;
}
nav ul{
  list-style: none;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}
nav ul li{
  display: inline;
}
